/* .col{
    margin-right: 45%;
    padding-top: .5%;
    text-align: right;
}

.labelSpacing{
    padding-top: 1%;
    padding-bottom: 1%;
}

label{
    padding-right: 2%;
}

button{
    margin-top: 1%;
    margin-right: 4%;
} */