/* .table1{
    text-align: center;
    margin-left: 32%;
    margin-right: 20%;
    margin-bottom: 10%;
    border-collapse: collapse;
    border: 1px solid black;
}

td{
    border-collapse:collapse;
    border:1px solid black;
}

th{
    border-collapse:collapse;
    border:1px solid black;
} */